<div class="card card-w-title">
  <h1>Car Manager</h1>
  <p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)"  paginator="true" [rows]="10">
    <p-header>List of cars</p-header>
    <p-column field="vin" header="vin" sortable="true"></p-column>
    <p-column field="brand" header="brand" sortable="true"></p-column>
    <p-column field="year" header="year" sortable="true"></p-column>
    <p-column field="color" header="color"sortable="true"></p-column>
    <p-column field="price" header="price" sortable="true"></p-column>
    <p-column header="actions" >

    </p-column>
    <p-footer>
      <button type="button" pButton icon="ui-icon-add-circle-outline" (click)="onAddClick($event)"> </button>
    </p-footer>
  </p-dataTable>

 <p-dialog header="Car dialog" [(visible)]="visibleDialog" width="300" modal="true" >
    <div class="ui-g" >
      <div class="ui-g-12">
        <div class="md-inputfield">
          <input type="text" pInputText [(ngModel)]="selectedCar.vin" />
           <label>Vin</label>
        </div>  
      </div>
      <div class="ui-g-12">
        <div class="md-inputfield">
          <input pInputText type="text" [(ngModel)]="selectedCar.brand" >
          <label>Brand</label>
        </div>  
      </div>
      <div class="ui-g-12">
        <div class="md-inputfield">
          <input pInputText type="text" [(ngModel)]="selectedCar.year" >
          <label>Year</label>
        </div>  
      </div>
      <div class="ui-g-12">
        <div class="md-inputfield">
          <input pInputText type="text" [(ngModel)]="selectedCar.color" >
          <label>Color</label>
        </div>  
      </div>
      <div class="ui-g-12">
        <div class="md-inputfield">
          <input pInputText type="text" [(ngModel)]="selectedCar.price" >
          <label>Price</label>
        </div>  
      </div>
    </div>
    <p-footer>
      <div *ngIf="addDialog"  >
        <button type="button" pButton icon="fa-check" class="ui-button-success" label="Add" (click)="addCar($event)"> </button>
      </div>
    </p-footer>
  </p-dialog>
</div>