<div class="ui-g">
    <div class="ui-g-12">
        <div class="card docs"> 
            
            <h1>Getting Started</h1>
            <p>Barcelona is a true native application template for Angular and is distributed as a CLI project. If you don't have CLI installed already run the following commands to set it up. In case
            you have an application that do not use CLI, skip the <a href="#noncli">Integration with an Existing Non CLI Application</a> part.</p>
<pre>
npm install -g @angular/cli
</pre>

            <p>Once CLI is ready in your system, extract the contents of the Barcelona zip file distribution, cd to the directory, 
            install the libraries from npm and then execute "ng serve" to run the application in your local environment at http://localhost:4200/.</p>
<pre>
cd Barcelona
npm install
ng serve
</pre>

            <p>That's it, you may now start with the development of your application.</p>

            <h1>Important CLI Commands</h1>
            <p>Following commands are derived from CLI.</p>
<pre>
Run 'ng serve' for a dev server. Navigate to `http://localhost:4200/`. The app will automatically reload if you change any of the source files.

Run 'ng generate component component-name' to generate a new component. You can also use `ng generate directive/pipe/service/class/module`.

Run 'ng build' to build the project. The build artifacts will be stored in the `dist/` directory. Use the `-prod` flag for a production build.

Run 'ng test' to execute the unit tests via [Karma](https://karma-runner.github.io).

Run 'ng e2e' to execute the end-to-end tests via [Protractor](http://www.protractortest.org/).

Run 'ng help' for more options.
</pre>            
                                    
            <h1>Structure</h1>
            <p>Barcelona consists of 3 main parts; the application layout, layout resources and theme resources for PrimeNG components. <i>app.component.html</i> inside app folder is the html template for the base layout, 
                required resources for the layout are placed inside the <i>src/assets/layout</i> folder and similarly theme resources are inside <i>src/assets/theme</i> folder. 
            </p>

            <h1>Template</h1>
            <p>Main layout is the html view of the app.component.ts, it is divided into a couple of sections such as topbar, sidebar, menu and content. Here is the code for
                the main template. The component class app.component.ts implements the logic such as opening menus, layout modes and so on.
            </p>
<pre>
&lt;div class="layout-wrapper" [ngClass]="&#123;'layout-wrapper-menu-active':sidebarActive,
                                        'layout-overlay-menu':overlay&#125;"&gt;

    &lt;app-topbar&gt;&lt;/app-topbar&gt;
    
    &lt;app-sidebar&gt;&lt;/app-sidebar&gt;
    
    &lt;div class="layout-main"&gt;
        &lt;div class="layout-main-content"&gt;
            &lt;router-outlet&gt;&lt;/router-outlet&gt;
            
            &lt;app-footer&gt;&lt;/app-footer&gt;
        &lt;/div&gt;
    &lt;/div&gt;

&lt;/div&gt;
</pre>

            <h1>Sidebar</h1>
            <p>Sidebar component contains the vertical tab panel structure where each tab header opens a specific panel. In example application, first tab contains the menu component and others
            display custom content.</p>

            <h1>Menu</h1>
            <p>Menu is a separate component defined in app.menu.component.ts file based on PrimeNG MenuModel API. In order to define the menuitems, 
            navigate to app.menu.component.ts and define your own model. Here is the menu component from the sample application. The helper
            app-submenu component is also available in the same file. Behavior and the UI of the menu can be fully customized within this component.</p>
<pre>
@Component(&#123;
    selector: 'app-menu',
    template: `
        &lt;ul app-submenu [item]="model" root="true" class="navigation-menu" visible="true"&gt;&lt;/ul&gt;
    `
&#125;)
export class AppMenuComponent implements OnInit &#123;

    private model: any[];

    constructor(@Inject(forwardRef(() => AppComponent)) public app:AppComponent) &#123;&#125;
    
    ngOnInit() &#123;
        this.model = [
            &#123;label: 'Dashboard', icon: 'dashboard', routerLink: ['/']&#125;,
            &#123;
                label: 'Themes', icon: 'palette',
                items: [
                    &#123;label: 'Blue - Amber', icon: 'brush', command: (event) => &#123;this.changeTheme('blue')&#125;&#125;,
                    &#123;label: 'Teal - Amber', icon: 'brush', command: (event) => &#123;this.changeTheme('teal')&#125;&#125;,
                    &#123;label: 'Blue Grey - Green', icon: 'brush', command: (event) => &#123;this.changeTheme('blue-grey')&#125;&#125;,
                    &#123;label: 'Cyan - Yellow', icon: 'brush', command: (event) => &#123;this.changeTheme('cyan')&#125;&#125;,
                    &#123;label: 'Dark - Blue', icon: 'brush', command: (event) => &#123;this.changeTheme('dark-blue')&#125;&#125;,
                    &#123;label: 'Dark - Green', icon: 'brush', command: (event) => &#123;this.changeTheme('dark-green')&#125;&#125;,
                    &#123;label: 'Light Blue - Green', icon: 'brush', command: (event) => &#123;this.changeTheme('light-blue')&#125;&#125;,
                    &#123;label: 'Indio - Cyan', icon: 'brush', command: (event) => &#123;this.changeTheme('indigo')&#125;&#125;,
                    &#123;label: 'Deep Purple - Pink', icon: 'brush', command: (event) => &#123;this.changeTheme('deep-purple')&#125;&#125;,
                    &#123;label: 'Green - Yellow', icon: 'brush', command: (event) => &#123;this.changeTheme('green')&#125;&#125;
                ]
            &#125;,
            &#123;
                label: 'Menu Modes', icon: 'settings_application',
                items: [
                    &#123;label: 'Static Menu', icon: 'menu',  command: () => this.app.changeToStaticMenu()&#125;,
                    &#123;label: 'Overlay Menu', icon: 'exit_to_app',  command: () => this.app.changeToOverlayMenu()&#125;,
                    &#123;label: 'Light Menu', icon: 'label_outline',  command: () => this.app.darkMenu = false&#125;,
                    &#123;label: 'Dark Menu', icon: 'label',  command: () => this.app.darkMenu = true&#125;
                ]
            &#125;,
            &#123;
                label: 'Components', icon: 'list',
                items: [
                    &#123;label: 'Sample Page', icon: 'desktop_mac', routerLink: ['/sample']&#125;,
                    &#123;label: 'Forms', icon: 'input', routerLink: ['/forms']&#125;,
                    &#123;label: 'Data', icon: 'grid_on', routerLink: ['/data']&#125;,
                    &#123;label: 'Panels', icon: 'content_paste', routerLink: ['/panels']&#125;,
                    &#123;label: 'Overlays', icon: 'content_copy', routerLink: ['/overlays']&#125;,
                    &#123;label: 'Menus', icon: 'menu', routerLink: ['/menus']&#125;,
                    &#123;label: 'Messages', icon: 'message', routerLink: ['/messages']&#125;,
                    &#123;label: 'Charts', icon: 'insert_chart', routerLink: ['/charts']&#125;,
                    &#123;label: 'File', icon: 'attach_file', routerLink: ['/file']&#125;,
                    &#123;label: 'Misc', icon: 'toys', routerLink: ['/misc']&#125;
                ]
            &#125;,
            &#123;
                label: 'Template Pages', icon: 'get_app',
                items: [
                    &#123;label: 'Empty Page', icon: 'hourglass_empty', routerLink: ['/empty']&#125;,
                    &#123;label: 'Landing Page', icon: 'flight_land', url: 'assets/pages/landing.html', target: '_blank'&#125;,
                    &#123;label: 'Login Page', icon: 'verified_user', url: 'assets/pages/login.html', target: '_blank'&#125;,
                    &#123;label: 'Error Page', icon: 'error', url: 'assets/pages/error.html', target: '_blank'&#125;,
                    &#123;label: '404 Page', icon: 'error_outline', url: 'assets/pages/404.html', target: '_blank'&#125;,
                    &#123;label: 'Access Denied Page', icon: 'security', url: 'assets/pages/access.html', target: '_blank'&#125;
                ]
            &#125;,
            &#123;
                label: 'Menu Hierarchy', icon: 'menu',
                items: [
                    &#123;
                        label: 'Submenu 1', icon: 'subject',
                        items: [
                            &#123;
                                label: 'Submenu 1.1', icon: 'subject',
                                items: [
                                    &#123;label: 'Submenu 1.1.1', icon: 'subject'&#125;,
                                    &#123;label: 'Submenu 1.1.2', icon: 'subject'&#125;,
                                    &#123;label: 'Submenu 1.1.3', icon: 'subject'&#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 1.2', icon: 'subject',
                                items: [
                                    &#123;label: 'Submenu 1.2.1', icon: 'subject'&#125;,
                                    &#123;label: 'Submenu 1.2.2', icon: 'subject'&#125;
                                ]
                            &#125;,
                        ]
                    &#125;,
                    &#123;
                        label: 'Submenu 2', icon: 'subject',
                        items: [
                            &#123;
                                label: 'Submenu 2.1', icon: 'subject',
                                items: [
                                    &#123;label: 'Submenu 2.1.1', icon: 'subject'&#125;,
                                    &#123;label: 'Submenu 2.1.2', icon: 'subject'&#125;,
                                    &#123;label: 'Submenu 2.1.3', icon: 'subject'&#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 2.2', icon: 'subject',
                                items: [
                                    &#123;label: 'Submenu 2.2.1', icon: 'subject'&#125;,
                                    &#123;label: 'Submenu 2.2.2', icon: 'subject'&#125;
                                ]
                            &#125;,
                        ]
                    &#125;
                ]
            &#125;,
            &#123;label: 'Utils', icon: 'build', routerLink: ['/utils']&#125;,
            &#123;label: 'Documentation', icon: 'find_in_page', routerLink: ['/documentation']&#125;
        ];
    &#125;

    changeTheme(theme) &#123;
        let themeLink: HTMLLinkElement = &lt;HTMLLinkElement&gt; document.getElementById('theme-css');
        let layoutLink: HTMLLinkElement = &lt;HTMLLinkElement&gt; document.getElementById('layout-css');
        
        themeLink.href = 'assets/theme/theme-' + theme +'.css';
        layoutLink.href = 'assets/layout/css/layout-' + theme +'.css';
    &#125;
&#125;
</pre>

            
            <h1>Integration with an Existing CLI Project</h1>
            <p>To setup Barcelona in an existing project, copy the <i>src/assets</i> folder to your projects folder with the same name 
                and replace the contents of app.component.ts, app.component.html with their counterparts in Barcelona under <i>src/app</i> folder. In addition, 
            copy all the components included by app.component.html such as topbar, footer, sidebar and menu.</p>
            
            <p>Dependencies of Barcelona are listed below and needs to be added to package.json</p>
<pre>
"primeng": "^2.0.3",             //required: PrimeNG components
"jquery": "^3.1.1",              //optional: schedule and nanoscroller
"chart.js": "^2.4.0",            //optional: chart 
"fullcalendar": "^3.1.0",        //optional: schedule
"moment": "^2.17.1",             //optional: chart and schedule
"quill": "^1.1.8",               //optional: editor
</pre>
                        
            <p>Add PrimeNG CSS at styles section in angular-cli.json</p>

<pre>
"styles": [
    "../node_modules/primeng/resources/primeng.min.css",        //required: PrimeNG components
    "../node_modules/fullcalendar/dist/fullcalendar.min.css",   //optional: schedule
    "../node_modules/quill/dist/quill.snow.css",                //optional: editor
    "../node_modules/nanoscroller/bin/css/nanoscroller.css",    //optional: nanoscroller
    "styles.scss"                                               //your styles and overrides
],
</pre>

            <p>Add the following scripts to your angular-cli.json</p>
<pre>
"scripts": [
    "../node_modules/jquery/dist/jquery.js",                                //optional: schedule and nanoscroller
    "../node_modules/nanoscroller/bin/javascripts/jquery.nanoscroller.js",  //optional: nanoscroller
    "assets/layout/js/ripple.js",                                           //optional: ripple effect
    "../node_modules/moment/moment.js",                                     //optional: schedule and charts
    "../node_modules/chart.js/dist/Chart.js",                               //optional: charts
    "../node_modules/fullcalendar/dist/fullcalendar.js",                    //optional: schedule
    "../node_modules/quill/dist/quill.js"                                   //optional: editor
],
</pre>

            <p>Last part is adding theme and layout css files, in the CLI app they are defined using link tags in index.html so the demo can switch them on
            the fly by changing the path however if this is not a requirement, you may also add them to the styles configuration so they go inside the bundle.</p>

            <h1 id="noncli">Integration with an Existing Non-CLI Project</h1>
            <p>For an existing project that do not use CLI, setup steps are more or less similar. Start with installing the dependencies listed above in package.json</p>
            <p>Copy the <i>src/assets</i> folder to your application and include the resources listed above with a module bundler like webpack or using link-script tags.</p>
            <p>Finally copy the contents of app.component.html and app.component.ts to your application along with the all sub components like topbar.</p>
                        
            <h1>Size</h1>
            <p>Barcelona uses EM units for scalability, default base font size is 14px and it can be changed with sass.</p>
            
            <h1>Theme</h1>    
            <p>Barcelona provides 10 PrimeNG themes out of the box, setup of a theme simple including the css of theme to your page that are located inside resources/theme folder.</p>
            
            <ul>
                <li>theme-blue</li>
                <li>theme-blue-grey</li>
                <li>theme-cyan</li>
                <li>theme-dark-blue</li>
                <li>theme-dark-green</li>
                <li>theme-deep-purple</li>
                <li>theme-green</li>
                <li>theme-indigo</li>
                <li>theme-light-blue</li>
                <li>theme-teal</li>
            </ul>
            
            <p>A custom theme can be developed by the following steps.</p>
            <ul>
                <li>Choose a custom theme name such as theme-myown.</li>
                <li>Create a file named theme-myown.scss under <i>assets/theme folder</i>.</li>
                <li>Define the variables listed below and import the <i>/sass/theme/_theme.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Include the generated theme.css to your page.</li>
            </ul>
            
            <p>Here are the variables required to create a theme, you may need to change the last line according to the 
                relative path of the sass folder in your application.</p>
                
<pre>
$primaryColor: #1976d2;
$primaryDarkColor: #0D47A1;
$primaryLightColor: #2196F3;
$primaryTextColor: #FFFFFF;
$accentColor: #FFC107;
$accentDarkColor: #FFA000;
$accentLightColor: #FFECB3;
$accentTextColor: #000000;

@import '../sass/theme/_theme';
</pre> 
                
            <p> An example sass command to compile the css would be;</p>
                
<pre>
sass src/assets/theme-myown/theme.scss src/assets/theme-myown/theme.css
</pre> 

            <p>Watch mode is handy to avoid compiling everytime when a change is made, instead use the following command
            so that sass generates the file whenever you make a customization. This builds all css files whenever a change is made to any scss file.</p>
<pre>
sass -w resources/ --sourcemap=none
</pre>

            <p>Same can also be applied to layout itself;</p>
            <ul>
                <li>Choose a layout name such as layout-myown.</li>
                <li>Create an empty file named layout-myown.scss inside <i>assets/layout/css</i> folder.</li>
                <li>Define the variables listed below and import the <i>/sass/layout/_layout.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Serve the css by importing it using a link tag or a bundler.</li>
            </ul>
            
            <p>Here are the variables required to create a layout, you may need to change the last line according to the 
                relative path of the sass folder in your application.</p>
            
<pre>
$primaryColor:#607D8B;
$primaryLightColor:#90A4AE;
$primaryTextColor:#CFD8DC;
$primaryTextHoverColor:#ECEFF1;
$accentColor:#8BC34A;
$accentLightColor:#DCEDC8;
$accentTextColor:#ffffff;
$activeMenuItemTextColor:#8BC34A;
$darkActiveMenuItemTextColor:#8BC34A;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';
</pre> 

            <p>Check out the video tutorial that follows the steps above to create the dark-blue theme and layout. It is based on PrimeFaces version but generation part
                applies to PrimeNG as well.</p>
            
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/3dW61t1TKyc" frameborder="0"></iframe>
            </div>
            
            <p>For both cases, several .scss files such as _layout.scss, _theme.scss or _variables.scss has to be present relative to your scss files, these are available inside the resources/sass folder in the distribution.</p>
            <p>In case you'd like to customize the structure not just the colors, the _variables.scss is where the structural variables (e.g. font size, paddings) for the layout are defined.</p>
<pre>
/* Common */
$fontSize:14px;
$fontFamily:"Roboto","Helvetica Neue",sans-serif;
$lineHeight:1.5em;
$textColor:#424242;
$textSecondaryColor:#757575;
$borderRadius:3px;
$dividerColor:#eaeaea;
$dividerLightColor:#f8f8f8;
$iconWidth:20px;
$iconHeight:20px;
$iconFontSize:20px;
$grayBgColor:#757575;
$hoverBgColor:#e8e8e8;
$hoverTextColor:#000000;

/* Layout */
$bodyBgColor:#fcfbfb;
$menuItemHoverBgColor:#e8e8e8;
$menuitemColor:#757575;
$footerBgColor:#ffffff;

/* Topbar */
$topbarSubmenuBgColor:#f7f7f7;
$topbarSubmenuItemHoverBgColor:#e3e3e3;

/******************************/
/*           THEME            */
/******************************/
$headerPadding:.625em 1em;
$headerFontSize:1em;

$contentPadding:.625em 1em;
$contentBorderColor:#d8d8d8;
$contentBgColor:#ffffff;

$inputBorderColor:#bdbdbd;
$inputFontSize:1em;
$inputHeaderFontSize:1em;
$inputOptionFontSize:1em;
$inputHeaderPadding:.625em 1em;
$invalidInputLabelColor:#e62a10;
$invalidInputBorderColor:#e62a10;

$buttonFontSize:1em;

$listItemPadding:.625em 1em;

$radioButtonBorderColor:#757575;
$checkboxBorderColor:#757575;

$dataTableBorderColor:#cacaca;
$dataTableRowBgColorEven:#f4f4f4;
</pre>        

                                    
            <h1>Menu Modes</h1>
            <p>Menu has 2 modes, static and overlay. Layout container element in application.html is used to define which mode to use by adding specific classes. List
            below indicates the style classes for each mode. In addition menu</p>
            <ul>
                <li>Static: "layout-wrapper"</li>
                <li>Overlay: "layout-wrapper layout-overlay-menu"</li>
            </ul>
            
            <p>It is also possible to leave the choice to the user by keeping the preference at a component and using an expression to bind it so that user can switch between modes. Sample
            application has an example implementation of such use case. Refer to app.component.ts for an example.</p>          

            <h1>Dark Menu</h1>
            <p>Default color scheme of menu is light and alternative dark mode can be activated by adding layout-menu-dark style class to the sidebar element in app.sidebar.component.html.</p>
<pre>
&lt;div class="layout-sidebar layout-menu-dark"&gt;
</pre>
            
            <h1>Utilities</h1>
            <p>Barcelona provides various helper features such as material iconset compatible with PrimeNG components and helper classes. Visit <a [routerLink]="['/utils']">utils</a> page for details.</p>
                    
            <h1>Grid CSS</h1>
            <p>Barcelona uses PrimeNG Grid CSS (ui-g-*) throughout the samples, we strongly suggest using Grid CSS as your layout framework as it is well tested and supported by PrimeNG. Grid CSS is
            available inside primeng.css. However you may use another css layout utility as well.</p> 
            
            <h1>Customizing Styles</h1>
            <p>It is suggested to write your customizations in styles.scss file or another file instead of adding them to the
                scss files under sass folders to avoid maintenance issues after an update.</p>
        </div>
    </div>
</div>